@import url(//fonts.googleapis.com/css?family=Lato:300:400);





#banner{
   
    /* background-image: url('images/home-banner.png'); */
    color: #fff;
    padding-top: 5%;
}
.heading{
    margin-top: 25%;
}


#banner a{
    color: #fff;
    text-decoration: none;
}
.bottom-img{
    width: 100%;
}



/* button
 */
 .bn39 {
    background-image: linear-gradient(135deg, #008aff, #86d472);
    border-radius: 6px;
    box-sizing: border-box;
    color: #ffffff;
    /* display: block; */
    display: inline-block;


    height: 50px;
    font-size: 1.4em;
    font-weight: 600;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 7em;
    z-index: 2;
    /* margin-top: 100px; */
    margin: 5%;
  }
  
  .bn39:hover {
    color: #fff;
  }
  
  .bn39 .bn39span {
    align-items: center;
    background: #44606e;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
  }
  
  .bn39:hover .bn39span {
    background: transparent;
  }



 /* navbar css */
 #nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
   
}
.navbar{
    /* background-image: linear-gradient(90deg, rgba(82,202,225,1) 2%, rgba(126,171,224,1) 33%, rgba(73,146,179,1) 67%, rgba(2,0,36,1) 100%, rgba(76,172,192,1) 100%, rgba(16,90,111,1) 123%); */
    background-image: linear-gradient(
        60deg,
        rgba(84, 58, 183, 1) 0%,
        rgba(0, 172, 193, 1) 100%
      );
    padding: 0 !important;
}
.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}
/* .navbar-nav{
    height: 50px;
} */
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color:  #f3ebeb !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars{
    clear: rgb(243, 238, 238);
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}
/* wave css */

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}

p {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}

.header {
  position: relative;
  text-align: center;
  background: linear-gradient(
    /* 60deg, */
    30deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  color: white;
}

.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.inner-header {
  height: 80vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* /* Shrinking for mobile */
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}

/* About */
#about-us{
    background: rgb(244, 245, 247);
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
  

}
#about-us ul li{
margin: 10px 0;
}
#about-us ul {
    margin-left: 20px;
}
.name-about{
    color: #100f0f;
    margin-top:30px;
 
}
.name-about ul li{
    list-style: none;
}

.btn-about{
    margin-left: 45%;
}



 /* sumbit btn style */
 .bn30 {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}

.bn30 .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.bn30:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #5858cd;
}

.bn30:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.bn30:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}
/*  testimonials*/
.testimonials{
 /* font-family: Arial, Helvetica, sans-serif !important; */

  border-left: 4px solid #175598;
  margin-top: 50px;
  margin-bottom: 50px;
}

.testimonials img{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0 10px;
}
.user-details{
  display: inline-block;
  font-size: 12px;
}
.title::before{
 content: '';
 /* background: #7b1798; */
 /* background-image: linear-gradient(-45deg, #4568dc, #b06ab3); */
 background: #687bec;


 height: 5px;
 width: 200px;
 margin-left: auto;
 margin-right: auto;
 display: block;
 transform: translateY(63px);
}

.title::after{
  content: '';
  background: #4175cd;
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(8px);
}
/* media */
#social-media{
  /* background: #f8f9fa; */
  padding: 100px 0;
}
#social-media p{
  font-family: Arial, Helvetica, sans-serif !important;

  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}
.social-icons img{
  width: 60px;
  transition: 0.5s;
}
.social-icons a:hover img{
  transform: translateY(-10px);
}
/* footer */
#footer{
  background-image: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  /* color: rgb(8, 8, 8); */

}
.footer-img{
  width: 100%;
}
.footer-box{
  color:whitesmoke;
  padding: 20px;
}
.footer-box p {
  color: whitesmoke;
}
.footer-box img{
  width: 120px;
  margin-bottom: 20px;
}

/* cursor */
.cursor {
  position: fixed;
  top: -10px;
  left: -10px;
  pointer-events: none;
  width: 25px;
  height: 25px;
  border-radius: 80%;
  background-color: rgba(9, 94, 80, 0.5);
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: transform 0.3s, background-color 0.3s;
}

.cursor.expand {
  transform: translate(-50%, -50%) scale(1.5);
  background-color: rgba(149, 236, 233, 0.3);
}







  
  
  